@import url(../common/varaiable.less);
@import url(../common/property.less);
@import url(../common/mixin.less);

.login {
    background-image: url('../../image/background.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    form {
        .mt(260);
        .form-line,
        button {
            margin-left: auto;
            margin-right: auto;
        }
        .ng-invalid{
            &+span{
                background-color: transparent;
                position: absolute;
                color: @dangerColor;
                right: 0;
                height: 100%;
                font-size: 12px;
            }
        }
        .form-line {
            .w(300);
            .h(40);
            .lh(40);
            // background-color: @formBgColor;
            color: @defaultColor;
            box-sizing: content-box;
            font-size: 0;
            &:first-child {
                border-bottom: 1px solid @defaultColor;
            }
            .account, .lock{
                width: 23px;
                height: 24px;
                .w(55);
                height: 100%;
                background-color: @iconBgColor;
                position: relative;
                margin-top: -11px;
                background-position: 15px 8px;
                background-repeat: no-repeat;
            }
            .account{
                background-image: url('../../image/account.png');
            }
            .lock{
                background-image: url('../../image/lock.png');
            }
            input{
                color: @defaultColor;
                text-indent: 15px;
                background-color: @formBgColor;
                border-width: 0;
                outline: none;
                height: 100%;
                .w(245);
                .fs(14);
                box-sizing: border-box;
                // .pl(30);
                &::-webkit-input-placeholder {
                    color: @defaultColor;
                    text-indent: 15px;
                }
                &:-moz-placeholder {
                    /* Mozilla Firefox 4 to 18 */
                    color: @defaultColor;
                    text-indent: 15px;
                }

                &::-moz-placeholder {
                    /* Mozilla Firefox 19+ */
                    color: @defaultColor;
                    text-indent: 15px;
                }

                &:-ms-input-placeholder {
                    /* Internet Explorer 10+ */
                    color: @defaultColor;
                    text-indent: 15px;
                }
            }
        }
        button {
            .w(300);
            .h(35);
            font-weight: bold;
            font-size: 22px;
            &.login-btn {
                margin-top: 75px;
                background-color: @headerBgColor;
                color: @defaultColor;
            }
            &.register-btn {
                margin-top: 20px;
                background-color: @btnBgColor;
                color: @headerBgColor;
                border: 1px solid @headerBgColor;
            }
        }
    }
}
