@import url(./template/head.less);


.fx(@px) {
	font-size: unit(@px / 37.5, rem) ;
}

.w(@px) {
	width: unit(@px / 37.5, rem) ;
}

.h(@px) {
	height: unit(@px / 37.5, rem) ;
}

*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html,body{
	height: 100%;
	width: 100%;
}