@import url(./common/mixin.less);
@import url(./common/varaiable.less);
// @import url(./common/property.less);

.bottom-btn{
	position: fixed;
	.h(40);
	width: 100%;
	.b(0);
	color: @defaultColor;
	border-width: 0;
	background-color: @headerBgColor;
}